@import "../../../styles/variables.scss";

.members {
  &Sort {
    position: relative;
    display: flex;

    &Selected {
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 15px;
      letter-spacing: 0.03em;
      color: $membersSortSelected_color;
    }

    &List {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: -10px;
      width: 100vw;
      padding: 20px 40px 10px;
      list-style: none;
      background: $membersSortList_bg;
      visibility: hidden;
      opacity: 0;

      &Visible {
        visibility: visible;
        opacity: 1;
      }

      &Item {
        display: flex;
        justify-content: flex-end;

        &Btn {
          display: flex;
          align-items: center;
          font-size: 15px;
          line-height: 16px;
          letter-spacing: 0.03em;
          color: $membersSortListItemBtn_color;

          span {
            color: $membersSortListItemBtnIcon_color;
          }
        }

        &Active &Btn {
          font-weight: bold;
        }
      }
    }
  }
}

.icon {
  width: 40px;
  height: 40px;
}
