@import "../../../../../styles/variables.scss";

.formItem {

  &Content {
    display: flex;
    flex-wrap: wrap;

    &File {
      padding-left: 65px;
      align-items: flex-end;
    }
  }

  &Btns {
    margin-top: 10px;
    margin-left: auto;

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
