.memberProfile {
  &Avatar {
    margin-top: 35px;
    display: flex;
    justify-content: center;
  }

  &Name {
    margin-top: 30px;
    font-weight: bold;
    font-size: 24px;
    line-height: 18px;
    text-align: center;
    color: #5F5F5F;
  }

  &Permissions {
    margin-top: 20px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #AFAFAF;
  }
  
  &PaymentCode {
    margin-top: 45px;
    margin-bottom: 35px;
  }
  
  &Email {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #4F4F4F;
  }
}
