@import './../../../styles/variables.scss';

.uploadFile {
  display: block;

  &Input {
    display: none;
  }

  &Button {
    padding: 0;
    width: 80px;
    height: 80px;
    color: $uploadFileButton_color;
    background-color: transparent;
    border: 1px solid $uploadFileButton_border;
  }
}
