.members {
  &Tabs {
    display: flex;
    flex-direction: column;
    height: 100%;

    &Header {
      display: flex;

      &Item {
        padding: 9px 13px;
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.05em;
        color: #828282;
        background: #F2F2F2;

        &:first-child {
          padding-left: 20px;
        }

        &:last-child {
          padding-right: 20px;
        }

        &Active {
          background: #fff;
          position: relative;

          &:first-child {
            box-shadow: 3px 0px 6px rgba(0, 0, 0, 0.15);
          }
  
          &:last-child {
            box-shadow: -3px 4px 6px rgba(0, 0, 0, 0.1);
          }
        }
      }
    }

    &Content {
      display: flex;
      flex-direction: column;
      overflow: auto;
      flex: auto;
    }
  }

  &List {
    overflow: auto;
  }
}

.icon {
  width: 40px;
  height: 40px;
}
