@import "../../styles/variables.scss";

.memberProfileQrCode {
  padding-top: 86px;

  .facility {
    margin-bottom: 16px;
  }

  .content {
    margin-bottom: 12px;
    padding-bottom: 32px;
  }

  .position {
    margin-top: 6px;
    text-align: center;
  }

  .qrCode {
    margin-top: 53px;
  }

  .memberCode {
    margin-top: auto;
    font-family: $FiraMono;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: $memberProfileQrCode_memberCode_color;
  }
}
