@import "../../styles/variables.scss";

.memberProfileQrCode {
  padding-top: 85px;

  .facility {
    margin-bottom: 15px;
    text-align: center;
  }

  .position {
    text-align: center;
    color: $memberProfileQrCode_position_color;
  }

  .qrCode {
    margin-top: 50px;
  }

  .memberCode {
    margin-top: auto;
    font-family: $FiraMono;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    text-align: center;
    color: $memberProfileQrCode_memberCode_color;
  }
}
