.layout {
  height: 100vh;

  &Content {
    height: 100vh;
    overflow: auto;

    &HeightAuto {
      height: auto;
    }
  }

  &Header + &Content:not(&ContentHeightAuto) {
    height: calc(100% - 60px);
  }
}
