@import './../../../styles/variables.scss';

.layout {
  height: 100vh;

  &Content {
    height: 100vh;
    overflow: auto;

    &HeightAuto {
      height: auto;
    }
  }

  &Header + &Content:not(&ContentHeightAuto) {
    height: calc(100% - 52px);
  }

  &Background {
    background: $layoutBackground_bg;
  }
}
