@import "../../styles/variables.scss";

.create {
  background-color: $create_bg;
  min-height: 100vh;
  padding: 100px 20px 20px;

  &Title {
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: $createTitle_color
  }

  &Error {
    margin-top: 20px;
  }

  &Error + &Buttons {
    margin-top: 60px;
  }

  &Buttons {
    margin-top: 95px;
    display: flex;
    justify-content: space-between;
  }

  &SuccessBtnHome {
    display: flex;

    &Icon {
      margin-top: 2px;
      margin-right: 7px;
    }
  }

  &SuccessBtnAdd {
    display: flex;
    align-items: center;
    color: $createSuccessBtnAdd_color;

    &Icon {
      width: 40px;
      height: 40px;
      color: $createSuccessBtnAddIcon_color
    }
  }
}
