@import "../../styles/variables.scss";

.create {
  background-color: $create_bg;
  min-height: 100vh;
  padding: 55px 20px 20px;

  &Title {
    margin-bottom: 70px;
    text-align: center;
    color: $createTitle_color
  }
  
  &Item {
    margin-bottom: 16px;

    label + input {
      margin-top: 5px;
    }
  }

  &InputAvatar {
    margin: 30px 0 16px;
  }

  &Error {
    margin-top: 20px;
  }

  &Error + &Buttons {
    margin-top: 60px;
  }

  &Buttons {
    margin-top: 111px;
    display: flex;
    justify-content: space-between;
  }

  &SuccessBtnHome {
    display: flex;
    border-color: $createSuccessBtnHome_border;
    color: $createSuccessBtnHome_color;
  }

  &SuccessBtnAdd {
    color: $createSuccessBtnAdd_color;
  }
}
