@import "../../../styles/variables.scss";

.profileInfo {
  margin-top: 14px;

  &Top {
    margin-top: 87px;
  }

  &Title {
    text-align: center;
    color: $profileInfoTitle;
  }

  &Title + &Text {
    margin-top: 6px;
  }
  
  &Text {
    text-align: center;
  }
}
