$base: 'Open Sans', sans-serif;

$body_bg: #F2F2F2;

// header
$header_bg: #2A6274;
$header_shadow: rgba(0, 0, 0, 0.3);
$headerLogoIcon: #FFFFFF;
$headerBtnIcon: #FFFFFF;
$headerBtnQrCodeIcon: #CFF6FF;
$headerTitle: #FFFFFF;

// menu
$menuWrapper_bg: rgba(242, 242, 242, 0.9);
$menuWrapper_shadow: rgba(79, 79, 79, 0.1);
$menuLink_color: #4F4F4F;

// button
$button_base: #828282;
$button_bg: #FFFFFF;
$button_shadow: rgba(79, 79, 79, 0.15);

$buttonPrimary_base: #4ABCA3;
$buttonPrimary_shadow: rgba(28, 184, 109, 0.2);

$buttonMenu_color: #4F4F4F;
$buttonMenuHover_border: #FFFFFF;
$buttonMenuActive_bg: #FFFFFF;
$buttonMenuDisabled_bg: #BDBDBD;

// label
$label_color: #828282;
$labelRequired_color: #EB5757;

// input
$input: #4F4F4F;
$input_bg: #FFFFFF;
$input_border: #E0E0E0;

$input_error_shadow: rgba(235, 87, 87, 0.3);
$input_error_border: #EB5757;

// uploadFile
$uploadFileButton_color: #BDBDBD;
$uploadFileButton_border: #BDBDBD;

// checkbox
$checkbox_color: #828282;
$checkboxChecked_border: #828282;
$checkboxChecked_bg: #7DDBC7;

// formRequiredError
$formRequiredError_color: #BF1649;

// avatar
$avatar_bg: #7DDBC7;
$avatar_color: #FFFFFF;
$avatarIcon_color: #BDBDBD;

$avatarBig_border: #FFFFFF;

$avatarInvited_bg: #FFEB84;

$avatarFacility_bg: #FFBE17;
$avatarFacility_color: #FFEB84;

$avatarAccount_bg: #BF1649;

// status
$status_color: #828282;
$status_bg: #4ABCA3;
$status_border: #FFFFFF;

$statusInvited_bg: #FFBE17;
$statusDeactivated_bg: #BDBDBD;

// pageNotFound
$pageNotFoundInfo_bg: #BDBDBD;
$pageNotFoundInfoNumber: #F2F2F2;
$pageNotFoundInfoTitle: #E0E0E0;
$pageNotFoundInfoText: #E0E0E0;

// memberSort
$membersSortSelected_color: #828282;
$membersSortList_bg: rgba(242, 242, 242, 0.9);
$membersSortListItemBtn_color: #4F4F4F;
$membersSortListItemBtnIcon_color: #828282;

// memberProfile
$memberProfileStatus: #BDBDBD;
$memberProfileBtnEdit: #828282;

// profile
$profile_bg: #F2F2F2;

$profileTopBtnEdit_color: #828282;

$profileContent_bg: #FFFFFF;
$profileContent_shadow: rgba(0, 0, 0, 0.1);

$profileName: #4F4F4F;

$profileInfoTitle: #BDBDBD;
$profileInfoText: #4F4F4F;

$profileContentBottomLink: #828282;
$profileContentBottomEmail: #828282;

// editProfile
$editProfileTitle: #BDBDBD;
$editProfileLabel: #4F4F4F;

$substrateContent_bg: rgba(242, 242, 242, 0.9);

// qrCode
$qrCodeTitle_color: #BDBDBD;
$qrCodeShare_color: #828282;

// memberProfileQrCode
$memberProfileQrCode_facility_color: #4F4F4F;
$memberProfileQrCode_permissions_color: #BDBDBD;
$memberProfileQrCode_memberCode_color: #4F4F4F;

// Facilities
$facilities_bg: #FFFFFF;
$facilities_shadow: rgba(0, 0, 0, 0.1);

$facilityHeaderTitle_color: #4F4F4F;
$facilityHeaderCount_color: #828282;
$facilityHeaderArrowIcon_color: #828282;

// create
$create_bg: #FFFFFF;
$createTitle_color: #828282;
$createSuccessBtnHome_color: #F2F2F2;
$createSuccessBtnHome_border: #F2F2F2;
$createSuccessBtnAdd_color: #FFFFFF;
$createSuccessBtnAddIcon_color: #FFBE17;

// Success
$success_bg: rgba(79, 79, 79, 0.85);
$successMessage_color: #FFFFFF;
$successMessage_bg: rgba(255, 190, 23, 0.9);
$successMessage_shadow: rgba(49, 220, 121, 0.14);

// Registration
$register_Bg: #FFFFFF;
$registerTitle_color: #BDBDBD;
$registerUnderTitle_color: #BDBDBD;
$registerOrText_color: #EB5757;
$registerErrorRequired_color: #BF1649;
$registerPoint_bg: #E0E0E0;
$registerPointActive_bg: #6FCF97;

// logout
$logout_bg: linear-gradient(167.85deg, #7DDBC7 22.45%, #4ABCA3 88.33%);
$logoutLogo_color: #4ABCA3;
$logoutTitle_color: #FFFFFF;
$logoutText_color: #FFFFFF;
