$base: 'SF Pro Display', sans-serif;

// header
$header_bg: #2A6274;
$header_shadow: rgba(0, 0, 0, 0.3);
$header_icon: #FFFFFF;
$header_title: #FFFFFF;

// avatar
$avatar_bg: #8FD7E7;
$avatar_text: #CFF6FF;

// pageNotFound
$pageNotFound_bg: #4F4F4F;
$pageNotFoundInfoNumber: #BDBDBD;
$pageNotFoundInfoTitle: #BDBDBD;
$pageNotFoundInfoText: #BDBDBD;