$base: 'Open Sans', sans-serif;

$body_bg: #F2F2F2;

// header
$header_bg: #2A6274;
$header_shadow: rgba(0, 0, 0, 0.3);
$headerBtnIcon: #FFFFFF;
$headerTitle: #FFFFFF;

// button
$button_color: #FFFFFF;
$button_bg: #828282;
$button_shadow: rgba(79, 79, 79, 0.15);

$buttonPrimary_color: #FFFFFF;
$buttonPrimary_bg: #1CB86D;
$buttonPrimary_shadow: rgba(28, 184, 109, 0.2);

// label
$label: #828282;

// input
$input: #4F4F4F;
$input_bg: #FFFFFF;
$input_border: #E0E0E0;

$input_error_shadow: rgba(235, 87, 87, 0.3);
$input_error_border: #EB5757;

// uploadFile
$uploadFileButton: #F2F2F2;

// avatar
$avatar_bg: #BDBDBD;
$avatar_color: #E0E0E0;
$avatarIcon_color: #FFFFFF;

$avatarInvited_bg: #FFE353;
$avatarInvited_color: #FFFFFF;
$avatarIconInited_color: #BDBDBD;

$avatarActive_bg: #8FD7E7;
$avatarActive_color: #CFF6FF;

$avatarFacility_bg: #F2994A;
$avatarFacility_color: #FFE353;

$avatarBig_color: #FFFFFF;
$avatarBig_border: #FFFFFF;
$avatarIconBig_stroke: #E0E0E0;

$avatarInvitedBig_color: #FFFFFF;
$avatarActiveBig_color: #FFFFFF;

// pageNotFound
$pageNotFoundInfo_bg: #BDBDBD;
$pageNotFoundInfoNumber: #F2F2F2;
$pageNotFoundInfoTitle: #E0E0E0;
$pageNotFoundInfoText: #E0E0E0;

// memberProfile
$memberProfileStatus: #BDBDBD;
$memberProfileBtnEdit: #828282;

// editProfile
$editProfileTitle: #BDBDBD;
$editProfileLabel: #4F4F4F;

$substrateContent_bg: rgba(242, 242, 242, 0.9)
