@import "../../styles/variables.scss";

.register {
  padding: 50px 20px 0;
  background-color: $register_Bg;
  min-height: 100vh;

  &Logo {
    margin-bottom: 74px;
    text-align: center;
  }

  &Title {
    font-weight: bold;
    font-size: 36px;
    line-height: 39px;
    text-align: center;
    letter-spacing: -0.03em;
    color: $registerTitle_color;
  }

  &UnderTitle {
    margin: 24px 0 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: $registerUnderTitle_color;
  }
}

.registerOr {
  display: flex;
  flex-direction: column;

  &Item:first-child {
    margin-bottom: 0;
  }

  &Text {
    margin-bottom: -27px;
    font-size: 14px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.03em;
    color: $registerOrText_color;
  }
}

.registerErrorRequiredVisible + .registerActionMarginTop {
  margin-top: 36px;
}