.membersItem {
  display: flex;
  padding: 14px 20px;

  &Avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #C4C4C4;
    display: flex;
    justify-content: center;
    align-items: center;

    &Text {
      font-family: 'SF Pro Display';
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      /* identical to box height */
      text-align: center;
      color: #E0E0E0;
    }
  }

  &Info {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &Name {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    /* identical to box height, or 106% */
    color: #5F5F5F;
  }
  
  &Permissions {
    margin-top: 7px;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height, or 120% */
    letter-spacing: 0.05em;
    color: #AFAFAF;
  }
  
  &Action {}
}