.membersItem {
  position: relative;
  display: flex;
  padding: 14px 10px 14px 20px;

  &Info {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
  }
  
  &Name {
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: #5F5F5F;
  }
  
  &Position {
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: #AFAFAF;
  }
}
