@import './../../../styles/variables.scss';

.button {
  padding: 8px 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $button_color;
  background-color: $button_bg;
  border: 2px solid $button_border;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  &:active:not(&Clear) {
    color: $button_active_color;
    background-color: $button_active_bg;
  }

  &:disabled:not(&Clear) {
    color: $button_disabled_color;
    border-color: $button_disabled_border;
    cursor: auto;
  }

  &BorderNone {
    padding: 10px 11px 11px;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $buttonBorderNone_color;
    text-decoration: none;
    border-color: $buttonBorderNone_border;

    &:active {
      color: $buttonBorderNone_active_color;
      background-color: $buttonBorderNone_active_bg;
    }
  
    &:disabled {
      border-color: $buttonBorderNone_disabled_border;
    }
  }

  &Primary {
    color: $buttonPrimary_color;
    border-color: $buttonPrimary_border;

    &:active {
      color: $buttonPrimary_active_color;
      background-color: $buttonPrimary_active_bg;
    }
  }

  &Clear {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;
  }

  &White {
    color: $buttonWhite_color;
    border-color: $buttonWhite_border;

    &:active {
      background-color: $buttonWhite_active_bg;
      color: $buttonWhite_active_color;
    }
  }

  &ActiveWhite:active {
    background-color: $buttonActiveWhite_bg;
  }
}
