@import './../../../styles/variables.scss';

.button {
  padding: 8px 11px;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $button_color;
  background-color: $button_bg;
  border: 2px solid $button_border;
  border-radius: 10px;
  cursor: pointer;

  &:active {
    color: $button_active_color;
    background-color: $button_active_bg;
  }

  &:disabled {
    color: $button_disabled_color;
    border-color: $button_disabled_border;
  }

  &Menu {
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $buttonMenu_color;
    text-decoration: none;
    border-color: $buttonMenu_border;

    &:active {
      color: $buttonMenu_active_color;
      background-color: $buttonMenu_active_bg;
    }
  }

  &Primary {
    color: $buttonPrimary_color;
    border-color: $buttonPrimary_border;

    &:active {
      color: $buttonPrimary_active_color;
      background-color: $buttonPrimary_active_bg;
    }
  }

  &Clear {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;

    &:active {
      color: transparent;
      background-color: transparent;
    }
  }
}
