@import './../../../styles/variables.scss';

.button {
  padding: 8px 14px;
  display: inline-block;
  font-family: $base;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.03em;
  color: $button_base;
  background: $button_bg;
  border: 1px solid $button_base;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    box-shadow: 0px 1px 6px $button_shadow;
  }

  &:active {
    color: $button_bg;
    background-color: $button_base;
  }

  &:disabled {
    opacity: 0.5;
  }

  
  &Primary {
    color: $buttonPrimary_base;
    border-color: $buttonPrimary_base;

    &:hover {
      box-shadow: 0px 1px 6px $buttonPrimary_shadow;
    }

    &:active {
      background-color: $buttonPrimary_base;
    }

    &:disabled {
      color: $button_base;
      border-color: $button_base;
    }
  }

  &Transparent {
    background-color: transparent;
    border-color: $buttonTransparent_base;
    color: $buttonTransparent_base
  }

  &Clear,
  &Clear:hover,
  &Clear:active,
  &Clear:disabled {
    background: transparent;
    padding: 0;
    border-radius: 0;
    border: none;
    box-shadow: none;

    &:disabled {
      opacity: 0.5;
    }
  }

  &Menu {
    padding: 11px 10px 12px;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.03em;
    color: $buttonMenu_color;
    background-color: transparent;
    border-color: transparent;

    &:hover {
      border-color: $buttonMenuHover_border;
    }

    &:active {
      background-color: $buttonMenuActive_bg;
    }

    &:disabled {
      opacity: 1;
      color: $buttonMenuDisabled_bg;
    }
  }
}
