@import "../../styles/variables.scss";

.card {
  padding: 20px;
  background: $card_bg;
  box-shadow: 1px 1px 6px $card_shadow;
  border-radius: 20px;

  &NoButton {
    padding: 20px 20px 39px;
  }

  &Disabled {
    background: $cardDisabled_bg;
  }

  &Disabled & {
    &Icon {
      color: $cardDisabled_cardIcon_color;
    }
  }

  &Icon {
    color: $cardIconCard_color;

    svg {
      width: 100%;
      height: auto;
    }

    &Card {
      width: 50px;
      height: 40px;
      margin-bottom: 53px;
    }

    &Blank {
      margin: 4px 0 25px;
    }
  }

  &Number {
    color: $cardNumber_color;
    white-space: pre;
    min-height: 24px;
    
    &Wrap {
      display: flex;
      justify-content: space-between;
      margin-bottom: 11px;
    }
  }

  &BtnView {
    width: 24px;
    height: 24px;
    color: $cardBtnView_color;
  }

  &Name {
    margin-top: 7px;
  }

  &Name {
    margin-top: 7px;
  }

  &Btn {
    margin-top: 35px;
  }
}
