.label {
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */
  text-align: center;
  letter-spacing: 0.05em;
  color: #BDBDBD;
}