@import "../../../../styles/variables.scss";

.sessionEndTime {
  button + div {
    padding-left: 73px;

    & > div:last-child {
      margin-left: 0;
    }
  }

  &InputWrap {
    width: 100%;
  
    input {
      width: calc(5ch + 20px);
    }
  }
}
