.membersFirstMember {
  &Info {
    &Image {
      margin-bottom: 25px;
      margin-left: 54px;
    }

    &Text {
      font-style: normal;
      font-weight: bold;
      font-size: 25px;
      line-height: 25px;
      text-align: center;
      color: #BDBDBD;
    }
  }
}
