.input {
  background: #F2F2F2;
  border-radius: 2px;
  border: 1px solid #F2F2F2;
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height, or 120% */
  color: #5F5F5F;
  text-align: center;
  letter-spacing: 0.05em;
  padding: 10px;
  display: block;
  width: 100%;

  &.error {
    box-shadow: inset 0px 4px 40px #E3ABAB;
  }
}
