@import './../../../styles/variables.scss';

.input, textarea {
  padding: 9px 10px;
  width: 100%;
  font-family: $base;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: $input;
  display: block;
  background: $input_bg;
  border: 1px solid $input_border;
  border-radius: 10px;
  text-align: center;

  &::placeholder {
    color: inherit;
  }

  &.error {
    box-shadow: inset 0px 2px 12px 3px $input_error_shadow;
    border-color: $input_error_border;
  }
}

.textarea {
  resize: none;
}