@import './../../../styles/variables.scss';

.input, textarea {
  font-size: 18px;
  line-height: 20px;
  color: $input;
  display: block;
  width: 100%;
  padding: 8px 10px;
  background: $input_bg;
  border: 1px solid $input_border;
  border-radius: 5px;

  &.error {
    box-shadow: inset 0px 2px 12px 3px $input_error_shadow;
    border-color: $input_error_border;
  }
}

.textarea {
  resize: none;
}