@import "../../../styles/variables.scss";

.substrate {
  z-index: 1;
  position: relative;
  width: 100%;

  &Content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: $substrateContent_bg;
  }

  &Visible &Content {
    display: block;
  }

  &BtnEdit {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $substrateBtnEdit_color;
  }
}
