@import "../../../styles/variables.scss";

.profileTop {
  position: relative;
  margin-bottom: 25px;
  padding: 10px 10px 0;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  &Status {
    margin-top: 5px;
    margin-left: 5px;
  }

  &BtnEdit {
    margin-left: auto;
    position: relative;
    z-index: 1;
    color: $profileTopBtnEdit_color;
  }
}
