@import "../../styles/variables.scss";

.status {
  display: flex;
  align-items: flex-start;
  color: $status_color;

  &:before {
    content: "";
    margin-right: 5px;
    width: 14px;
    height: 14px;
    display: inline-block;
    background-color: $status_bg;
    border: 2px solid $status_border;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &Invited:before {
    background-color: $statusInvited_bg;
  }
  
  &Deactivated:before {
    background-color: $statusDeactivated_bg;
  }
}
