@import "../../../styles/variables.scss";

.registerAction {
  margin-top: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &ButtonWrap {
    flex: 0 0 120px;
    width: 120px;
    max-width: 120px;

    &:last-child {
      text-align: right;
    }
  }
}

.registerPoints {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  .registerPoint {
    width: 8px;
    height: 8px;
    margin: 4px;
    background: $registerPoint_bg;
    border-radius: 50%;
    border: none;
    
    &Active {
      background: $registerPointActive_bg;
    }
  }
}
