.member-form {
  margin: 10px 0;
  max-width: 350px;
}

.member-form__item {
  margin-top: 15px;
}

.member-form__label {
  display: inline-block;
  margin-bottom: 5px;
}

.member-form__input {
  display: block;
  width: 100%;
}