@import "../../styles/variables.scss";

.avatar {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $avatar_bg;
  border-radius: 50%;

  &Text {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $avatar_text;
  }

  &Small {
    width: 35px;
    height: 35px;
  }
  
  &Big {
    width: 100px;
    height: 100px;
  }

  &Big &Text{
    font-size: 39px;
    line-height: 47px;
  }
}
