@import "../../../styles/variables.scss";

.editProfile {
  position: relative;
  padding: 20px;

  &Title {
    position: absolute;
    top: 32px;
    left: 18px;
    color: $editProfileTitle;
  }
}
