@import "../../../styles/variables.scss";

.personalPanel {
  &Totals {
    margin: 30px -8px;
    display: flex;

    &Item {
      flex: 0 0 50%;
      width: 50%;
      max-width: 50%;
      padding: 0 8px;
      align-items: center;
    }
  }

  &PaymentAccount {
    padding: 20px 0 0;
  
    &Title {
      text-align: center;
    }
  
    &Card {
      margin-top: 12px;
      padding-bottom: 0;
      box-shadow: none;
    }
  }
}
