.h1 {
  font-weight: 700;
  font-size: 36px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: $h1_color;
}

.h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  text-align: center;
  color: $h2_color;
}

.h3 {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: $h3_color;
}
